/* ====================================================<!-- 1행 메인페이지 --> */
#wrap main {}
#wrap main #main_img {overflow:hidden; position:relative;}
#wrap main #main_img .ad {
    width:100%; height:820px; z-index:0; z-index:800; 
}
#wrap main #main_img .ad * {color:#fff;}
#wrap main #main_img .ad .swiper-wrapper {}
#wrap main #main_img .ad .swiper-wrapper .swiper-slide {
    width:100%; height:820px;
}
#wrap main #main_img .ad .swiper-wrapper .slide1 {
    background:url(../images/main_img.png) no-repeat center;
}
#wrap main #main_img .ad .swiper-wrapper .slide2 {
    background:url(../images/pink_main.png) no-repeat center;
}
#wrap main #main_img .main_title_wrap {z-index:1;}
#wrap main #main_img .main_title_wrap * {color:#fff; z-index:850;}
#wrap main #main_img .main_title_wrap > p {
    font-size:1.25rem; position:absolute; top:273px; right:120px;
    text-align:right; line-height:1.2;
}
#wrap main #main_img .main_title_wrap > hr {
    position:absolute; right:0; top:297px; width:109px;
}
#wrap main #main_img .main_title_wrap .main_title {
    position:absolute; right:120px; top:572px; width:max-content;
}
#wrap main #main_img .main_title_wrap .main_title > p {
    font-size:1.25rem; position:absolute; right:0; top:9px;
}
#wrap main #main_img .main_title_wrap .main_title > h2 {
    font-size:9.375rem;
}
/* ====================================================<!-- 2행 for you --> */
#wrap main #for_you {padding:80px 0;}
#wrap main #for_you .container {text-align:center;}
#wrap main #for_you .container h2 {font-size:6.25rem; margin-bottom:30px;}
#wrap main #for_you .container .category {
    max-width:1250px; margin:0 auto;
    display:flex; flex-flow:row nowrap; justify-content:start; gap:16.67px;
}
#wrap main #for_you .container .category .gender {
    width:300px; height:400px; display:inline-block;
    display:flex; flex-flow:column nowrap;
    justify-content:center; gap:20px;
}
#wrap main #for_you .container .category .gender h3 {
    font-size:3.125rem; color:#fff; font-weight:700;
    text-shadow:0 0 10px rgba(0,0,0,0.5);
}
#wrap main #for_you .container .category .gender p {
    font-size:0.875rem; padding:5px 15px; background-color:#fff;
    margin:0 auto; border-radius:5px; font-weight:600;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}
#wrap main #for_you .container .category .men {background:url(../images/for_you/men.png) center 0 / cover;}
#wrap main #for_you .container .category .men:hover {background:url(../images/for_you/men1.png) center 0 / cover;}
#wrap main #for_you .container .category .men h3 {}
#wrap main #for_you .container .category .men a {}
#wrap main #for_you .container .category .women {background:url(../images/for_you/women.png) center 0 / cover;}
#wrap main #for_you .container .category .women:hover {background:url(../images/for_you/women1.png) center 0 / cover;}
#wrap main #for_you .container .category .women h3 {}
#wrap main #for_you .container .category .women a {}
#wrap main #for_you .container .category .kids {background:url(../images/for_you/kis.png) center 0 / cover;}
#wrap main #for_you .container .category .kids:hover {background:url(../images/for_you/kis1.png) center 0 / cover;}
#wrap main #for_you .container .category .kids h3 {}
#wrap main #for_you .container .category .kids a {}
#wrap main #for_you .container .category .shoes {background:url(../images/for_you/shoes.png) center 80% / cover;}
#wrap main #for_you .container .category .shoes:hover {background:url(../images/for_you/shoes1.png) center 80% / cover;}
#wrap main #for_you .container .category .shoes h3 {}
#wrap main #for_you .container .category .shoes a {}
/* <!-- 3행 new arrivals --> */
#wrap main #new_arrivals {padding:80px 120px;}
#wrap main #new_arrivals .container {width:100%;}
#wrap main #new_arrivals .container .new_title {
    display:flex; flex-flow:row nowrap; align-items:center;
}
#wrap main #new_arrivals .container .new_title h2 {font-size:6.25rem;}
#wrap main #new_arrivals .container .new_title a {margin-left:30px;}
#wrap main #new_arrivals .container .new_title a img {}
#wrap main #new_arrivals .container .new_category {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;
    margin:30px 0 50px;
}
#wrap main #new_arrivals .container .new_category .products {}
#wrap main #new_arrivals .container .new_category .products > a {font-weight:600;}
#wrap main #new_arrivals .container .new_category .products > a::after {
    display:inline-block; content:'|'; margin:0 16px 0;
}
#wrap main #new_arrivals .container .new_category .products > a:last-child::after {display:none;}
#wrap main #new_arrivals .container .new_category .arrow {}
#wrap main #new_arrivals .container .new_category .arrow a img:nth-child(1) {margin-right:20px;}
#wrap main #new_arrivals .container .new_category .arrow a img {}
/* 3행 상품 스와이퍼 */
#wrap main #new_arrivals .container .product_swiper {overflow:hidden;}
#wrap main #new_arrivals .container .product_swiper .swiper-wrapper {}
#wrap main #new_arrivals .container .product_swiper .swiper-wrapper .swiper-slide {
    position:relative;
}
#wrap main #new_arrivals .container .product_swiper .swiper-wrapper .swiper-slide > a {
    width:100%; height:400px; display:block;
}
#wrap main #new_arrivals .container .product_swiper .swiper-wrapper .slide1 > a {
    background:url(../images/new/Rectangle_11.png) center / cover;
}
#wrap main #new_arrivals .container .product_swiper .swiper-wrapper .slide2 > a {
    background:url(../images/new/Rectangle_11-1.png) center / cover;
}
#wrap main #new_arrivals .container .product_swiper .swiper-wrapper .slide3 > a {
    background:url(../images/new/Rectangle_11-2.png) center / cover;
}
#wrap main #new_arrivals .container .product_swiper .swiper-wrapper .slide4 > a {
    background:url(../images/new/Rectangle_11-3.png) center / cover;
}
#wrap main #new_arrivals .container .product_swiper .swiper-wrapper .slide5 > a {
    background:url(../images/new/Rectangle_11-4.png) center / cover;
}
#wrap main #new_arrivals .container .product_swiper .swiper-wrapper .slide6 > a {
    background:url(../images/new/Rectangle_11-5.png) center / cover;
}
#wrap main #new_arrivals .container .product_swiper .swiper-wrapper .swiper-slide > a em {}
#wrap main #new_arrivals .container .product_swiper .swiper-wrapper .swiper-slide .like {
    position:absolute; right:10px; top:10px;
}
#wrap main #new_arrivals .container .product_swiper .swiper-wrapper .swiper-slide .cart {
    position:absolute; right:10px; bottom:112px;
}
#wrap main #new_arrivals .container .product_swiper .swiper-wrapper .swiper-slide .contents {
    margin-top:10px;
}
#wrap main #new_arrivals .container .product_swiper .swiper-wrapper .swiper-slide .contents .color {margin:10px 0;}
#wrap main #new_arrivals .container .product_swiper .swiper-wrapper .swiper-slide .contents .color a {}
#wrap main #new_arrivals .container .product_swiper .swiper-wrapper .swiper-slide .contents .color a img {}
#wrap main #new_arrivals .container .product_swiper .swiper-wrapper .swiper-slide .contents .c_detail {}
#wrap main #new_arrivals .container .product_swiper .swiper-wrapper .swiper-slide .contents .c_detail a:first-of-type {font-size:0.75rem;}
#wrap main #new_arrivals .container .product_swiper .swiper-wrapper .swiper-slide .contents .c_detail a:last-of-type {font-size:1rem; font-weight:500; margin:10px 0;}
#wrap main #new_arrivals .container .product_swiper .swiper-wrapper .swiper-slide .contents .c_detail .price {}
#wrap main #new_arrivals .container .product_swiper .swiper-wrapper .swiper-slide .contents .c_detail .price span {}
/* ====================================================<!-- 4행 video --> */
#wrap main #video {overflow:hidden;}
#wrap main #video .container {}
#wrap main #video .container iframe {}
/* ====================================================<!-- 5행 collection --> */
#wrap main #collection {padding:120px 335px;}
#wrap main #collection .container {}
#wrap main #collection .container h2 {font-size:6.25rem;}
#wrap main #collection .container > p {line-height:1.5; margin:30px 0 50px;}
#wrap main #collection .container .collection_wrap {width:100%;}
#wrap main #collection .container .collection_wrap .top_c_wrap {
    display:flex; flex-flow:row nowrap; gap:50px;
    margin-bottom:30px;
}
#wrap main #collection .container .collection_wrap .bottom_c_wrap {
    display:flex; flex-flow:row nowrap; gap:50px;
}
#wrap main #collection .container .collection_wrap .c_wrap {
    display:inline-block; width:600px; height:250px; position:relative;
    box-shadow:0 0 10px rgb(0,0,0,0.15);
}
#wrap main #collection .container .collection_wrap .c_wrap .btn_type {
    position:absolute; bottom:30px; left:30px;
    padding:10px 20px; background-color:#fff; border-radius:5px;
    display:flex; flex-flow:row nowrap; gap:10px;
}
#wrap main #collection .container .collection_wrap .c_wrap .btn_type span {font-size:1.25rem; font-weight:600;}
#wrap main #collection .container .collection_wrap .c_wrap .btn_type img {}
#wrap main #collection .container .collection_wrap .mirage {
    width:100%;
    background:url(../images/collection/mirage.png) no-repeat center;
}
#wrap main #collection .container .collection_wrap .woven {
    width:100%;
    background:url(../images/collection/woven.png) no-repeat center;
}
#wrap main #collection .container .collection_wrap .project_rock {
    width:100%;
    background:url(../images/collection/project_rock.png) no-repeat center;
}
#wrap main #collection .container .collection_wrap .curry_12 {
    width:100%;
    background:url(../images/collection/curry.png) no-repeat center;
}
/* ====================================================<!-- 6행 ua_runnig_shoes --> */
#wrap main #ua_running_shoes {}
#wrap main #ua_running_shoes .container {
    width:100%; height:100vh;
    background:url(../images/secon_image.png) no-repeat center / cover;
    position:relative;
}
#wrap main #ua_running_shoes .container img {
    position:absolute; right:0; top:50%; transform:translateY(-50%);
}
/* ====================================================<!-- 7행 shoes_wrap --> */
#wrap main #shoes_wrap {
    padding:120px;
}
#wrap main #shoes_wrap .container {}
#wrap main #shoes_wrap .container h2 {
    font-size:6.25rem; text-align:center;
}
#wrap main #shoes_wrap .container > p {
    text-align:center; margin:20px 0 50px; line-height:1.5;
}
#wrap main #shoes_wrap .container .shoes_wrap {
    display:flex; flex-flow:column nowrap; gap:50px;
}
#wrap main #shoes_wrap .container .shoes_wrap .running_shoes {
    width:100%; height:600px; padding:50px;
    display:flex; flex-flow:row nowrap; justify-content:space-between;
}
#wrap main #shoes_wrap .container .shoes_wrap .running_shoes * {text-shadow:0 0 5px rgba(255,255,255,0.8);}
#wrap main #shoes_wrap .container .shoes_wrap .running_shoes h2 {}
#wrap main #shoes_wrap .container .shoes_wrap .running_shoes p {}
#wrap main #shoes_wrap .container .shoes_wrap .infinite {
    background:url(../images/infinite.png) center /cover;
}
#wrap main #shoes_wrap .container .shoes_wrap .infinite .left_content {
    text-align:left; display:flex; flex-flow:row nowrap; gap:30px; align-items:end;
}
#wrap main #shoes_wrap .container .shoes_wrap .infinite .left_content h2 {
    position:relative; top:5px;
}
#wrap main #shoes_wrap .container .shoes_wrap .infinite .left_content p {
    text-align:left; line-height:1.5;
}
#wrap main #shoes_wrap .container .shoes_wrap .infinite .right_imgs {
    display:flex; flex-flow:row nowrap; gap:30px; align-items:end;

}
#wrap main #shoes_wrap .container .shoes_wrap .infinite .right_imgs .infinite_shoes {
    display:flex; flex-flow:row nowrap; gap:50px;
}
#wrap main #shoes_wrap .container .shoes_wrap .infinite .right_imgs .infinite_shoes li {}
#wrap main #shoes_wrap .container .shoes_wrap .infinite .right_imgs .infinite_shoes li a {
    display:flex; flex-flow:column nowrap; align-items:center; gap:10px;
}
#wrap main #shoes_wrap .container .shoes_wrap .infinite .right_imgs .infinite_shoes li a img {}
#wrap main #shoes_wrap .container .shoes_wrap .infinite .right_imgs .infinite_shoes li a span {
    font-weight:700; font-size:0.875rem; position:relative; z-index:0;
}
#wrap main #shoes_wrap .container .shoes_wrap .infinite .right_imgs .infinite_shoes li a span:after {
    -webkit-text-stroke: 2px #fff; position:absolute;
    z-index:-1; content: attr(data-content); left:0;
}
#wrap main #shoes_wrap .container .shoes_wrap .flow {
    background:url(../images/flow.png) center /cover;
}
#wrap main #shoes_wrap .container .shoes_wrap .flow .left_imgs {
    display:flex; flex-flow:row nowrap; align-items:end;
}
#wrap main #shoes_wrap .container .shoes_wrap .flow .left_imgs .flow_shoes {
    display:flex; flex-flow:row nowrap; gap:50px;
}
#wrap main #shoes_wrap .container .shoes_wrap .flow .left_imgs .flow_shoes li {}
#wrap main #shoes_wrap .container .shoes_wrap .flow .left_imgs .flow_shoes li a {
    display:flex; flex-flow:column nowrap; align-items:center; gap:10px;
}
#wrap main #shoes_wrap .container .shoes_wrap .flow .left_imgs .flow_shoes li a img {}
#wrap main #shoes_wrap .container .shoes_wrap .flow .left_imgs .flow_shoes li a span {
    font-weight:700; font-size:0.875rem; position:relative; z-index:0;
}
#wrap main #shoes_wrap .container .shoes_wrap .flow .left_imgs .flow_shoes li a span:after {
    -webkit-text-stroke: 2px #fff; position:absolute;
    z-index:-1; content: attr(data-content); left:0;
}
#wrap main #shoes_wrap .container .shoes_wrap .flow .right_content {
    display:flex; flex-flow:row nowrap; gap:30px; align-items:end;
}
#wrap main #shoes_wrap .container .shoes_wrap .flow .right_content h2 {
    position:relative; top:5px;
}
#wrap main #shoes_wrap .container .shoes_wrap .flow .right_content p {line-height:1.5;}