@media screen and (max-width:1249px){
    /* header */
    #wrap header .top_wrap .site_wrap .curry {width:30px;}
    #wrap header .top_wrap .site_wrap .pro_rock {width:30px;}
    #wrap header .header_wrap {padding:0 60px;}
    #wrap header .gnb {
        max-width:1249px; min-width:320px; height:50px;
    }
    #wrap header .gnb a h1 {width:50px;}
    #wrap header .gnb a h1 img {width:100%;}
    #wrap header .gnb .search_like_cart {width:102px; }
    #wrap header .top_wrap {height:30px;}
    /* <!-- 1행 메인페이지 --> */
    #wrap main #main_img .swiper-container {
        width:100%; height:820px;
    }
    #wrap main #main_img .main_title_wrap > p {
        font-size:1rem; top:323px; right:60px;
    }
    #wrap main #main_img .main_title_wrap > hr {
        right:0; top:337px; width:55px;
    }
    #wrap main #main_img .main_title_wrap .main_title {right:60px;}
    #wrap header .gnb nav .gnb_wrap li .lnb_bg {top:80px;}
    /* <!-- 2행 for you --> */
    #wrap main #for_you {padding:50px 0;}
    #wrap main #for_you .container .category {
        max-width:785px; margin:0 auto; gap:21.33px;
    }
    #wrap main #for_you .container .category .gender {
        width:180px; height:240px; gap:10px;
    }
    #wrap main #for_you .container .category .gender h3 {
        font-size:2.5rem;
    }
    /* <!-- 3행 new arrivals --> */
    #wrap main #new_arrivals {padding:80px 60px;}
    #wrap main #new_arrivals .container .product_swiper .swiper-wrapper .swiper-slide > a {
        height:213px;
    }
    #wrap main #new_arrivals .container .product_swiper .swiper-wrapper .swiper-slide .cart {
        position:absolute; right:10px; top:170px;
    }
    /* <!-- 4행 video --> */
    #wrap main #video .container {width:100%; height:576px;}
    #wrap main #video .container iframe {width:100%; height:100%;}
    /* <!-- 5행 collection --> */
    #wrap main #collection {padding:80px 0;}
    #wrap main #collection .container {width:784px;}
    #wrap main #collection .container .collection_wrap .c_wrap {width:380px; height:250px;}
    #wrap main #collection .container .collection_wrap .top_c_wrap {gap:24px;}
    #wrap main #collection .container .collection_wrap .bottom_c_wrap {gap:24px;}
    #wrap main #collection .container .collection_wrap .mirage,
    #wrap main #collection .container .collection_wrap .woven,
    #wrap main #collection .container .collection_wrap .project_rock,
    #wrap main #collection .container .collection_wrap .curry_12 {min-width:380px; min-height:250px;}
    /* <!-- 7행 shoes_wrap --> */
    #wrap main #shoes_wrap {padding:80px 60px;}
    #wrap main #shoes_wrap .container .shoes_wrap .running_shoes {
        width:100%; height:600px;
    }
    #wrap main #shoes_wrap .container .shoes_wrap .infinite {
        flex-flow:column nowrap;
    }
    #wrap main #shoes_wrap .container .shoes_wrap .flow {
        flex-flow:column-reverse nowrap; align-items:end;
    }
    #wrap main #shoes_wrap .container .shoes_wrap .flow .right_content {
        display:flex; flex-flow:row-reverse nowrap;
    }
    #wrap main #shoes_wrap .container .shoes_wrap .flow .right_content p {text-align:right;}
    #wrap main #shoes_wrap .container .shoes_wrap .infinite .right_imgs .infinite_shoes {gap:30px;}
    #wrap main #shoes_wrap .container .shoes_wrap .flow .left_imgs .flow_shoes {gap:30px;}
    /* <!-- footer --> */
    #wrap footer {padding:100px 60px;}
    #wrap footer #footer {max-width:1250px;}
    #wrap footer #footer .container {
        position:relative; 
    }
    #wrap footer #footer .container .f_left .service {width:320px;}
    #wrap footer #footer .container .f_right {
        max-width:440px; position:absolute; right:0; top:0;
        gap:20px;
    }
}

/* =================================================================================================== */

@media screen and (max-width:834px){
    /* header */
    #wrap header .header_wrap {padding:0 15px;}
    #wrap header .top_wrap {display:none;}
    #wrap header .gnb {position:fixed; top:0; left:0;}
    #wrap header .gnb nav {display:none;}
    #wrap header .gnb .search_like_cart #search {width:30px;}
    #wrap header .gnb .search_like_cart #like {display:none;}
    #wrap header .gnb .search_like_cart #cart {display:none;}
    #wrap header .gnb .search_like_cart #person {width:30px; display:inline-block;}
    #wrap header .gnb .search_like_cart #menu {width:30px; display:inline-block;}
    /* <!-- 1행 메인페이지 --> */
    #wrap main {padding-top:50px;}
    #wrap main #main_img .ad {
        width:100%; height:440px;
    }
    #wrap main #main_img .ad .swiper-wrapper .slide1 {
        background:url(../images/main_img.png) no-repeat center 0 / auto 440px;
        height:440px;
    }
    #wrap main #main_img .ad .swiper-wrapper .slide2 {height:440px;}
    #wrap main #main_img .main_title_wrap > hr {display:none;}
    #wrap main #main_img .main_title_wrap > p {display:none;}
    #wrap main #main_img .main_title_wrap .main_title {
        position:absolute; right:50%; top:170px; transform:translateX(50%);
    }
    #wrap main #main_img .main_title_wrap .main_title > p {
        display:none;
    }
    #wrap main #main_img .main_title_wrap .main_title > h2 {
    font-size:3.75rem; opacity:70%;
    }
    /* <!-- 2행 for you --> */
    #wrap main #for_you {padding:50px 0;}
    #wrap main #for_you .container > h2 {font-size:3.75rem;}
    #wrap main #for_you .container .category {
        width:100%; margin:0 auto; flex-flow:row wrap; justify-content:center; gap:10px;
    }
    #wrap main #for_you .container .category .gender {max-width:200px; height:100px;}
    #wrap main #for_you .container .category .gender h3 {
        font-size:1.25rem;
    }
    #wrap main #for_you .container .category .gender p {
        font-size:0.75rem;
    }
    /* <!-- 3행 new arrivals --> */
    #wrap main #new_arrivals {padding:50px 15px;}
    #wrap main #new_arrivals .container .new_title h2 {font-size:3.75rem;}
    #wrap main #new_arrivals .container .new_title p {width:20px;}
    #wrap main #new_arrivals .container .new_title p img {width:100%;}
    #wrap main #new_arrivals .container .new_category .arrow img:nth-child(1) {margin-right:10px;}
    /* <!-- 4행 video --> */
    #wrap main #video .container {width:100%; height:248px;}
    #wrap main #video .container iframe {width:100%; height:100%;}
    /* <!-- 5행 collection --> */
    #wrap main #collection {padding:80px 15px;}
    #wrap main #collection .container {width:410px;}
    #wrap main #collection .container > h2 {font-size:3.75rem;}
    #wrap main #collection .container > p {font-size:0.75rem;}
    #wrap main #collection .container .collection_wrap .bottom_c_wrap,
    #wrap main #collection .container .collection_wrap .top_c_wrap {gap:10px;}
    #wrap main #collection .container .collection_wrap .c_wrap {width:200px; height:150px;}
    #wrap main #collection .container .collection_wrap .c_wrap .btn_type {
        bottom:15px; left:15px; padding:5px 10px;
    }
    #wrap main #collection .container .collection_wrap .c_wrap .btn_type span {font-size:0.875rem;}
    #wrap main #collection .container .collection_wrap .c_wrap .btn_type img {width:14px;}
    #wrap main #collection .container .collection_wrap .mirage,
    #wrap main #collection .container .collection_wrap .woven,
    #wrap main #collection .container .collection_wrap .project_rock,
    #wrap main #collection .container .collection_wrap .curry_12 {min-width:200px; min-height:150px;}
    /* <!-- 6행 ua_running_shoes --> */
    #wrap main #ua_running_shoes {position:relative;}
    #wrap main #ua_running_shoes .container {
        width:100%; height:218px; position:relative;  z-index:0;
    }
    #wrap main #ua_running_shoes .container::after {
        width:100%; height:218px; background:rgba(0,0,0,0.4); content:"";
        position:absolute; top:0; left:0; z-index:1;
    }
    #wrap main #ua_running_shoes .container img {display:none;}
    /* <!-- 7행 shoes_wrap --> */
    #wrap main #shoes_wrap {padding:15px;}
    #wrap main #shoes_wrap .container {position:relative; text-align:center;}
    #wrap main #shoes_wrap .container > h2 {
        width:100%; font-size:3.75rem; position:absolute; top:-200px; left:50%; transform:translateX(-50%); color:#fff;
    }
    #wrap main #shoes_wrap .container > p {display:none;}
    #wrap main #shoes_wrap {padding:50px 15px;}
    #wrap main #shoes_wrap .container .shoes_wrap {gap:30px;}
    #wrap main #shoes_wrap .container .shoes_wrap .running_shoes {
        padding:15px; width:100%; height:200px;
    }
    #wrap main #shoes_wrap .container .shoes_wrap .running_shoes h2 {font-size:2.5rem;}
    #wrap main #shoes_wrap .container .shoes_wrap .running_shoes p {font-size:0.875rem;}
    #wrap main #shoes_wrap .container .shoes_wrap .infinite {
        display:flex; flex-flow:row nowrap; align-items:center;
    }
    #wrap main #shoes_wrap .container .shoes_wrap .infinite .left_content {
        flex-flow:column nowrap; justify-content:start; align-items:start; gap:10px;
    }
    #wrap main #shoes_wrap {padding:50px 15px;}
    #wrap main #shoes_wrap .container .shoes_wrap .infinite .right_imgs {display:none;}
    #wrap main #shoes_wrap .container .shoes_wrap .flow {justify-content:center;}
    #wrap main #shoes_wrap .container .shoes_wrap .flow .left_imgs {display:none;}
    #wrap main #shoes_wrap .container .shoes_wrap .flow .right_content {
        flex-flow:column nowrap; align-items:end; gap:10px;
    }
    /* <!-- footer --> */
    #wrap footer {padding:50px 15px;}
    #wrap footer #footer .container {
        display:flex; flex-flow:column nowrap; justify-content:space-between; position:relative;
    }
    #wrap footer #footer .container .icons {
        display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;
    }
    #wrap footer #footer .container .icons .m_sns {display:flex; gap:10px;}
    #wrap footer #footer .container .f_right {
        flex-flow:column nowrap;  position:relative;
    }
    #wrap footer #footer .container .f_left .service {display:none;}
    #wrap footer #footer .container .f_left address {display:none;}
    #wrap footer #footer .container .f_right .customer_service > a {display:none;}
    #wrap footer #footer .container .f_right .info > a {display:none;}
    #wrap footer #footer .container .f_right .sns {display:none;}
    #wrap footer #footer .container .f_right .call p:nth-of-type(2) {margin:10px 0;}
    #wrap footer #footer .container .f_right .customer_service > p:nth-of-type(1) {margin:20px 0 0;}
    #wrap footer #footer .container .f_right .info > p {margin:0;}
}